@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap");



body {
    background-color: rgb(255, 255, 255);
    background-image: url("starry-background.png");
    font-family: 'Abril Fatface', cursive;
    margin-left: auto;
    margin-right: auto;
    display: table
   
}